$primaryColor: #e5e5e5;

$mainTextColor: #ffffff;
$titleTextColor: #000000;
$descrTextColor: #ff6b08;
$textColor: #8c8c8c;
$decorTextColor: #ff001b;
$footerTextColor: #545454;

$mainBtnColor: #ff6b02;
$btnHooverColor: #ffffff;

$hooverDuration: 250ms;
$hoverTimeFunction: cubic-bezier(0.4, 0, 0.2, 1);
