<header class="header-library">
    <div class="header-container container">
      <div class="header__tabs">
        <div class="header__title-panel">
            <a href="/" class="header__logo">
                <img src="./images/film-logo.svg" alt="Logotype Filmoteka" class="icon" width="30px" height="30px">
                <span class="logo-title">Filmoteka</span>
            </a>
        </div>
        <nav class="header__nav">
          <ul class="header__controls">
            <li><a href="index.html" class="header__controls-item btn__home">Home</a></li>
            <li><a href="library.html" class="header__controls-item btn__library current">My Library</a></li>
          </ul>
        </nav>
      </div>
      <!-- <div class="header__form-wrap"> -->
        <!-- <form class="header__form">
          <label class="header__form-label">
            <input
              type="text"
              name="searchQuery"
              placeholder="Movie search"
              class="header__form-input"
            />
          </label>
          <button type="submit" class="header__search-btn">
            <img src="./images/search-icon.svg" class="search__icon" width="15px" height="15px" alt="">
          </button>
        </form> -->
  
        <div class="header__library">
          <ul class="header__library-buttons">
            <li class="header__library-buttons-item">
              <button type="button" class="library-buttons-button watched">watched</button>
            </li>
            <li class="header__library-buttons-item">
              <button type="button" class="library-buttons-button queue">queue</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
