<div class="team-backdrop visually-hidden" data-students-modal>
  <div class="team-modal">
    <button type="button" class="team__close-button" data-students-modal-close>
      <svg class="team__close-button-icon">
        <use href="/src/images/symbol-defsR.svg#icon-closing"></use>
      </svg>
    </button>

    <h2 class="team-title">GoIT Students</h2>
    <a
      href="https://github.com/Mariana-Diachun/filmoteka-team-project"
      target="_blank"
      ><p class="team-team-name">TEAM NAME: DREAM TEAM</p></a
    >
    <ul class="team-list">
      <!-- Mariana Diachun -->
      <li class="team-list__item">
        <div class="team__thumb">
          <img src="./images/mariana.jpg" alt="Mariana Diachun" width="250px" />
        </div>

        <div class="team__content-wrapper">
          <h3 class="team__name">Mariana Diachunk</h3>
          <p class="team__positiom" lang="en">Team Lead</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a
                href="https://github.com/Mariana-Diachun"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                href="https://www.linkedin.com/in/marianna-diachuk-53ba60116/"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Yevhen Arkhipov -->
      <li class="team-list__item">
        <div class="team__thumb">
          <img
            src="https://ca.slack-edge.com/T03L32N8Q9X-U03L6BG08E8-f72c7b103904-512"
            alt="Yevhen Arkhipov"
          />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__name">Yevhen Arkhipov</h3>
          <p class="team__positiom" lang="en">Scrum Master</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a
                href="https://github.com/yevhen-arkhipov"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                href="https://www.linkedin.com/in/yevhen-arkhipov-205455252/"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Alla Goptsii -->
      <li class="team-list__item">
        <div class="team__thumb">
          <img src="./images/alla.jpg" alt="Alla Goptsii" />
        </div>

        <div class="team__content-wrapper">
          <h3 class="team__name">Alla Goptsii</h3>
          <p class="team__positiom" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a
                href="https://github.com/Alla-Goptsii"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" target="_blank" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Alexandr Nechuhaev-->
      <li class="team-list__item">
        <div class="team__thumb">
          <img src="./images/alex2.jpg" alt="Alexandr Nechuhaev" />
        </div>

        <div class="team__content-wrapper">
          <h3 class="team__name">Alexandr Nechuhaev</h3>
          <p class="team__positiom" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a
                href="https://github.com/Nechuhaev"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                href="https://www.linkedin.com/in/nechuhaev/"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Tatyana Zaytseva -->
      <li class="team-list__item">
        <div class="team__thumb">
          <img src="./images/tania.jpg" alt="Tatyana Zaytseva" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__name">Tatyana Zaytseva</h3>
          <p class="team__positiom" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a
                href="https://github.com/TatyanaZaytseva"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                href="https://www.linkedin.com/in/tetiana-zaitseva-048007235/"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Tanya Korobko -->
      <li class="team-list__item">
        <div class="team__thumb">
          <img src="./images/tania2.jpg" alt="Tanya Korobko" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__name">Tanya Korobko</h3>
          <p class="team__positiom" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a
                href="https://github.com/IvkoBulavenko"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                href="https://www.linkedin.com/in/tanya-korobko-962291247/"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!--Alexander Pogorely-->
      <li class="team-list__item">
        <div class="team__thumb">
          <img src="./images/alex.jpg" alt=" Alexander Pogorely" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__name">Alexander Pogorely</h3>
          <p class="team__positiom" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="#" target="_blank" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" target="_blank" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Maxim Frankov  -->
      <li class="team-list__item">
        <div class="team__thumb">
          <img src="./images/max.jpg" alt="Maxim Frankov" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__name">Maxim Frankov</h3>
          <p class="team__positiom" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a
                href="https://github.com/andrii-pulya"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                href="https://www.linkedin.com/in/maxim-frankov-58a0a8193/"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!--  Roma Bakalets -->
      <li class="team-list__item">
        <div class="team__thumb">
          <img src="./images/roma.jpg" alt="Roma Bakalets" />
        </div>

        <div class="team__content-wrapper">
          <h3 class="team__name">Roma Bakalets</h3>
          <p class="team__positiom" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a
                href="https://github.com/Roma044"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                href="https://www.linkedin.com/in/roman-bakalets-169a17248/"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Vitaliy Yushkov -->
      <li class="team-list__item">
        <div class="team__thumb">
          <img src="./images/vitaliy.jpg" alt="Vitaliy Yushkov" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__name">Vitaliy Yushkov</h3>
          <p class="team__positiom" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a
                href="https://github.com/Yushkov88"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                href="https://www.linkedin.com/in/vitaliy-yushkov-681107252/"
                target="_blank"
                class="social-list__link"
              >
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Viktor Olefir -->
      <li class="team-list__item">
        <div class="team__thumb">
          <img src="./images/viktor.jpg" alt="Viktor Olefir" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__name">Viktor Olefir</h3>
          <p class="team__positiom" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link" target="_blank">
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link" target="_blank">
                <svg class="social-list__icon">
                  <use href="/src/images/symbol-defsR.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
