.movie-card {
  margin-bottom: 20px;

  @include tablet {
    width: 50%;
    padding: 0 16px;
  }

  @include desktop {
    width: 33.3333%;
    padding: 0 8px;
  }

  &__img {
    width: 100%;
  }

  &__title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    color: $titleTextColor;

    @include desktop {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $descrTextColor;
  }

  &__header {
    margin-top: 10px;
  }
}
