// header
.header {

}
.home {
    background-image: url(../images/mob-abstract-background-with-red-lines-1x.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        height: 230px;
        background-image: url(../src/images/mob-abstract-background-with-red-lines-2x.jpeg);
}
}

.header-container {
}
.container {
}
.header__tabs {
}
.header__title-panel {
}
.header__logo {
    display: flex;
}
.icon {
    display: block;
    padding: 0;
    margin-top: 2px;
    margin-right: 10px;
}
.logo-title {
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #ff6b08;
  }
  &:focus {
    color: #ff6b08;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.icon {
}
.logo-title {
}
.header__nav {
}
.header__controls {
}
.header__controls-item {
}
.btn__home {
}
.btn__library {
}
.header__form {
}
.header__box-search-form {
}
.header__search-form-lab {
}
.header__search-form-input {
}
.header__input-search-buttons {
}
.header__library {
}
.header__library-buttons {
}
.header__library-buttons-item {
}
.library-buttons-button {
}
.watched {
}
.queue {
}